{% extends "base.html" %}
{% block main_content %}
<h1 id = "sb"> scoreboard  </h1>


<table>
    <tr>
        <th colspan = "5" scope = "col">scoreboard </th>
    </tr>
    <tr>
        <th>user_id:</th>
        <th>Number of goblins killed</th>
        <th>Number of  deaths </th>
        <th> Level reached</th>
    </tr>
    {% for i in users_scoreboard %}
    <tr>
        <td>{{i["user_id"]}} </td>
        <td>{{i["number_goblins_killed"]}}</td>
        <td>{{i["level"]}} </td>
    </tr>
    {% endfor %}
</table>


{% endblock %}